.app {
  min-height: 100vh;
}

.pizza {
  border: 2px solid black;
  height: 250px;
  width: 225px;
  background: rgb(249, 235, 205);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px
}